/sparecode/
/AutoTrimps.PEM
/https.py
/https2.py
/server.pem
/SIMPLEHTTPSERVER.bat
css
fonts
imgs
Playfab
/indexKong.html
/Kongregate_Game_Shell.html
/license.txt
/lz-string.js
/main.js
/README.md
/updates.html
/updates.js
/config.js
/decimal.min.js
/favicon.ico
.idea/AutoTrimps.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/Trimps/
/Trimps/main.js
/Trimps/updates.js
/Trimps/Kongregate_Game_Shell.html
/Trimps/css/
/Trimps/sparecode/
/Trimps/license.txt
/Trimps/Playfab/
/Trimps/decimal.min.js
/Trimps/imgs/
/Trimps/updates.html
/Trimps/index.html
/Trimps/fonts/
/Trimps/config.js
/Trimps/lz-string.js
/Trimps/favicon.ico
/Trimps/indexKong.html
